<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
<!-- Navbar -->
<div class="container-fluid">
    <nav class="navbar sticky-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type ="button" data-toggle="collapse" data-target=".navbar-collapse"> 
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <a href="">NewsHighlight</a>
            </button>
        </div>
    </nav>
</div>